name: Hello World

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - name: Step 1
        run: echo "Hello, world from GitHub Actions!"
      - name: Step 2
        run: echo "This is step 2"
